@font-face {
    font-family: "Roboto-Bold";
    src: local("Roboto-Bold"),
        url("../../public/project-assets/newsletter-sign-up/assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Regular";
    src: local("Roboto-Regular"),
        url("../../public/project-assets/newsletter-sign-up/assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

.fontFaceRobotoBold {
    font-family: "Roboto-Bold" !important;
}

.fontFaceRobotoRegular {
    font-family: "Roboto-Regular" !important;
}

.body {
    background: #36394d !important;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    color: hsl(234, 29%, 20%)
}

.charcoalGrey {
    color: hsl(235, 18%, 26%)
}

.contentLayout {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: #ffffff;
    width: 800px;
    border-radius: 20px;
    min-height: 200px;
    padding: 1rem;
}
.contentSuccess {
    max-width: 300px;
    padding: 1rem 1rem 2rem 1rem;
    margin: 1rem;
}
.mobileContent {
    background-color: #ffffff;
    max-width: 375px;
    min-height: 100vh;
}
.mobileContentSuccess {
    max-width: 375px;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.imgInline {
    display: inline-block;
    margin-right: 1rem;
}

.emailLabel {
    display: block;
    font-size: .6rem;
    font-weight: 700;
}

.emailInput {
    margin-top: .3rem;
    font-size: .7rem;
    color: hsl(231, 7%, 60%);
    padding: .8rem;
    display: block;
    width: 100%;
    border: 1px solid hsl(231, 7%, 60%);
    border-radius: 5px;
    outline: none;
}

.emailError {
    border: 1px solid hsl(4, 100%, 67%);
    background: #ffe8e6;
}

.errorMessage {
    color: hsl(4, 100%, 67%);
    display: block;
    font-size: .6rem;
    font-weight: 700;
}

.formButton {
    display: block;
    width: 100%;
    background-color: hsl(234, 29%, 20%);
    padding: .8rem;
    font-size: .7rem;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

.formButtonActive {
    background: rgb(255, 84, 120);
    background: linear-gradient(90deg, rgba(255, 84, 120, 1) 30%, rgba(255, 84, 16, 1) 100%);
}
.shadow {
    height: 17px;
    filter: blur(15px);
    position: relative;
    top: 0rem;
  }
  .shadowActive {
    background: linear-gradient(86deg, rgba(255, 84, 120, 1) 30%, rgba(255, 84, 16, 1) 100%);
  }
  .smText {
    font-size: .7rem;
  }
  .mobileSpacing1 {
    margin-top: 6rem;
  }
  .mobile-spacing2 {
    margin-top: 7rem;
  }