html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  line-height: 1.6;
  /* background-color: #999999; */
}
.container {
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.fl {
  display: flex;
}

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.space-around {
  display: flex;
  justify-content: space-around;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

a {
  text-decoration: none;
}

.navbar {
  background-color: transparent !important;
}

.border-top-1 {
  border-top: 1px solid #cccccc;
}

.right-content {
  min-height: calc(58rem + 6px);
  background-color: #ded1c1;
}

.profile-img {
  border-radius: 120px;
  height: 120px;
  width: 120px;
  border: 3px solid #ffffff;
  margin: 0px auto;
}

.intro-text {
  color: #111;
  text-align: center;
  padding-top: 6rem;
}

.app-icon {
  width: 4rem;
  background-color: #fff;
  padding: .8rem;
  border-radius: 50px;
  margin: 0px auto;
  overflow: hidden;
  box-shadow: 0 0px 6px 1px #a3a5a6fa;
  width: 50px;
  height: 50px;
}

.left-content {
  padding: 1rem;
}

.profile-apps {
  width: 60%;
  margin: 0px auto;
}

@media (min-width: 520px) {
  .d-xs-none {
    display: none;
  }
}

.dev {
  padding: .5rem .8rem;
  display: inline-block;
  background-color: #5562ff;
  border-radius: 50px;
  color: #fff;
  font-size: .8rem;
  font-weight: bold;
  position: relative;
  top: -0.4rem;
}

.container {
  max-width: 1200px;
}

.home-btns {
  font-size: .8rem;
  font-weight: 600;
  padding: 0.6rem 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.hire-me {
  background: #fe481c;
  color: #fff;
}

.projects {
  background: transparent;
  color: #111111;
}

.projects>svg {
  rotate: 45deg;
  position: relative;
  left: 0.3rem;
  top: -.1rem;
}

.card-title {
  padding: .2rem .5rem;
  font-size: .9rem;
  font-weight: 600;
}

.project-img {
  height: 155px;
  overflow: hidden;
}

.card-actions {
  text-align: right;
  padding: 0.5rem;
}

.pointer {
  cursor: pointer;
}

.page-footer {
  background-color: #262626;
  padding: 3rem;
  color: #fff;
}

.footer-button {
  background-color: #fbd20b;
  color: #111;
  font-weight: 500;
  font-size: .7rem;
  padding: 0.5rem 1rem;
  position: relative;
  top: 1.5rem;
  border-radius: 5px;
}

.border-bottom-1 {
  border-bottom: 1px solid #ccc;
}

.statistics {
  padding: 0.5rem 0;
  font-size: 0.7rem;
  font-weight: 500;
}

.color-pry {
  color: #424B57
}

.alt-color>div>a,
.alt-color>a,
.alt-color {
  color: #c5c5c5;
}

.grey-dot {
  display: inline-block;
  height: 0px;
  width: 0px;
  border: 2px solid #c5c5c5;
  border-radius: 10px;
  position: relative;
  top: 0.9rem;
}

.footer-links>a>svg {
  position: relative;
  top: -2px;
}

.hover-bg:hover {
  background-color: #c5c5c530;
  cursor: pointer;
}

.hover-items {
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
}